body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f6f8;
}

.container {
  display: flex;
  height: 100vh;
}

.left {
  width: 50%;
  background: #0f2a44;
  color: white;
  padding: 60px;
}

.right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background: #0f2a44;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}